* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color:white;
}

.container {
    margin-top: 5%;
    width: 50%;
    box-shadow: 3px 3px 10px rgb(80, 78, 78);
}

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
    background-image: linear-gradient(to bottom right, rgb(51, 131, 88), rgb(27, 236, 225));
}

header>h1 {
    text-align: center;
    margin: 0.7em 0;
}

.add_task {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    margin-bottom: 2em;
}

.input_task {
    width: 65%;
    padding: 7px;
    border-radius: 5px;
    border: none;
}

.input_task:focus {
    outline: none;
}

.btn_task {
    background: white;
    border: none;
    padding: 7px;
    width: 15%;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}

.btn_task:hover {
    background: rgb(112, 110, 110);
    color: white;
    box-shadow: 0px 0px 5px white;
}

h2 {
    margin: 0.5em 0;
    font-size: 1.2em;
    text-align: center;
}

.task_list {
    display: flex;
    flex-direction: column;
    margin-bottom: 1em;
    background-color:white;
}

.task_list>p {
    margin-top: 0.5em;
    text-align: center;
    color: rgba(65, 64, 64, 0.863);
    font-weight: bold;
}

ul {
    align-self: center;
    width: 95%;
    list-style: none;
}

ul>li {
    display: flex;
    justify-content: space-between;
    margin: 0.5em 0;
    background-color: rgba(163, 163, 163, 0.287);
    padding: 0.5em 0.5em;
    border-radius: 5px;
}

li>p {
    font-weight: bold;
}

.btn_check,
.btn_edit,
.btn_remove {
    font-size: 16px;
    background: none;
    border: none;
    margin-right: 7px;
    cursor: pointer;
}

.btn_check {
    color: rgb(14, 137, 238);
}

.btn_edit {
    color: rgb(23, 155, 23);
    font-weight: bold;
}

.btn_remove {
    color: rgb(238, 14, 14);
}
.btn_check:hover,
.btn_edit:hover,
.btn_remove:hover{
    box-shadow: 0px 0px 5px rgb(255, 255, 255);
}
.edit_task_menu {
    display:flex;
    flex-direction: column;
    z-index: 1;
    position: fixed;
    bottom:40%;
    color:white;
    background-color:rgb(106, 163, 159);
    width:60%;
    box-shadow: 3px 3px 10px rgb(77, 74, 74);
}
.edit_task_menu > .edit_task_input{
    align-self: center;
    width:80%;
    padding: 7px;
    border-radius: 5px;
    border: none;
    margin-bottom: 1em;
}
.edit_task_menu > .edit_task_input:focus{
    outline: none;
}
.edit_buttons{
    align-self: center;
    margin-bottom: 1em;
}
.edit_submit_btn, .edit_cancel_btn{
    margin-right: 1em;
    background: white;
    border: none;
    padding: 7px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}
.edit_submit_btn:hover, .edit_cancel_btn:hover {
    background: rgb(112, 110, 110);
    color: white;
    box-shadow: 0px 0px 5px white;
}
.editor{
    position:fixed;
    display:flex;
    justify-content: center;
    height:100%;
    width:100%;
    background-color: rgba(0, 0, 0, 0.383);
}
.edit_task_menu>p {
    z-index: 1;
    text-align: center;
    color: rgba(255, 255, 255, 0.863);
    margin-bottom: 0.8em;
}
.hide {
    display: none;
}
footer{
    height:10vh;
}
@media (max-width: 1080px) {
    .container {
        width: 60%;
    }
    .edit_task_menu {
        width:70%;
    }
}

@media (max-width: 860px) {
    .container {
        width: 70%;
    }
    .edit_task_menu {
        width:80%;
    }
}

@media (max-width: 560px) {
    .container {
        width: 80%;
    }
    .edit_task_menu {
        width:90%;
    }
}